/*开头*/
.container{
	min-width: 1230px;
	margin:0 auto;
}
.header{
	background-color: #f5f5f5;
}
.header>.naving{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.naving>.naving-left{
	float: left;
	width: 150px;
	margin:20px auto;
}
.naving>.naving-right{
	margin-right: 80px;
	position: absolute;
	right: 0;
}
.naving-right>ul{
	line-height: 100px;
	overflow: hidden;
}
.naving-right>ul>li{
	display: inline;
	margin: 0 20px;
	position: relative;
}
.naving-right>ul>li:nth-child(4) a{
	color: #045CFF;
}
.naving-right>ul>li:nth-child(4) a.r{
	border: 2px solid #045CFF;
	width: 120%!important;
	left: -6px;	
}
.naving-right>ul>li a{
	color: #000;
}
.naving-right>ul>li a.r{
	position: absolute;
	bottom: -7px;
	left: 45%;
	width: 0;
	transition: width 0.5s;
}
.naving-right>ul>li a.r1{
	position: absolute;
	bottom: -7px;
	right: 45%;
	width: 0;
	transition: width 0.5s;	
}
.naving-right>ul>li:hover a{
	color: #045CFF;
}
.naving-right>ul>li:hover a.r{
	border: 2px solid #045CFF;
	width: 60%;	
}
.naving-right>ul>li:hover a.r1{
	border: 2px solid #045CFF;
	width: 60%;	
}
/*内容*/
.container>.content>.content-box{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.content>.content-box>.content-top{
	margin: 20px auto;
}
.content-top>span{
	color: #574EC5;
	cursor: pointer;
}
.content-top>a{
	color: #000
}
.content>.content-box>.content-bottom{
	width: 650px;
	margin: 40px auto;
}
.content-bottom>ul>li{
	margin: 40px auto;
	line-height: 30px;
}
.content-bottom>ul>li div{
	width: 520px;
	margin: 10px auto
}
.content-bottom>ul>li:first-child p{
	font-size: 28px;
	text-align: center;
}
.content-bottom>ul>li span{
	text-indent: 38px;
}
.content-box>.jiantou{
	width: 80px;
	height: 80px;
	border: 1px solid #21283B;
	border-radius: 50%;
	background-color: #21283B;
	position: absolute;
	float: right;
	bottom: 10px;
	right: 0;
	line-height: 80px;
	text-align: center;
}
.content-box>.jiantou>.shang{
	width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid #fff;
}
.content-box>.jiantou>.xia{
	width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid #21283B;
    position: relative;
    bottom: 75px;
    left: 5px;
}
.content-box>.jiantou>.shu{
	width: 4px;
	height: 45px;
	background-color: #fff;
	position: relative;
	bottom: 60px;
	right: 27px;
}
/*结尾*/
.end{
	background-color: #21283A;
	margin-top:60px;
}
.end>.ending{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.end>.ending>.ending-wenzi{
	position:relative;
	margin:30px auto;
}
.ending-wenzi>span{
	height: 20px;
	border-left: 2px solid #fff;
	margin:0 20px;
	position: relative;
	top: 4px;
}
.ending-wenzi a{
	color: #fff;
	font-size:20px;
}
.ending>.wenzi-bottom{
	font-size: 20px;
	text-align: center;
	color: #fff;
	margin:20px;
}
.wenzi-bottom>span{
	margin: 10px auto;
}