<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>产品详情</title>
	<link rel="stylesheet" type="text/css" href="../css/chanpinxiangqing.css" />
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
</head>
<body>
	<div class="container">
		<div class="header">  <!-- 开头开始 -->
			<div class="naving">
				<div class="naving-left">
					<img src="../images/index/img_02.png" alt="">
				</div>
				<div class="naving-right">
					<ul>
						<li>
							<a href="../index.html">首页</a>
							<a class="r"></a>
							<a class="r1"></a>								
						</li>
						<li>
							<a href="gonsishouye.html">公司介绍</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
						<li>
							<a href="xinwenzhongxing.html">新闻中心</a>
							<a class="r"></a>
							<a class="r1"></a>								
						</li>
						<li>
							<a href="chanpinzhongxing.html">产品中心</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
						<li>
							<a href="lianxiwomen.html">联系我们</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
					</ul>
				</div>					
			</div>
			<div class="section">
				<div class="banner">
					<img src="../images/chanpinxiangqing/chanpinxiangqing_02.png" alt="">
				</div>
			</div>
		</div>  <!-- 开头结束 -->

		<div class="content">
			<div class="content-box">
				<span class="content-top"><a href="./chanpinzhongxing.html">产品中心></a><span>产品详情</span></span>
				<div class="content-bottom">
					<ul>			
						<li>
							<p>2016年你可能需要这些智能设备</p><br>
							[摘要]这些产品往往会让我们的生活变得更复杂，更不用说他们昂贵的价格。
						</li>
						<li>
							<b>智能水杯</b><br><br>
							<span>我不喜欢购买瓶装水,我往往会从家里带上水瓶,因为它不但值得信赖,而且可重复使用。现在,人们的环境意识越来越强，许多人不喜欢购买瓶装水,这为智能水瓶提供了一个日益增长的市场。我在CES最喜欢的产品是Moikit Seed智能水瓶,该产品最近的Indidgogo上募集到大量资金。</span>
							<div><img src="../images/chanpinxiangqing/chanpinxiangqing_05.png" alt=""></div>
							<span>有了Moikit Seed智能水杯,你可以跟踪你的日常用水量。它还能够提醒你按时喝水。相当有吸引力的是,金属质量的Moikit Seed智能水杯还有一系列漂亮的颜色可供选择。Moikit Seed智能水杯可以装热水。也可以装冷水,并在上方屏幕显示水温,这样你就不会被烫伤。而且,Moikit Seed智能水杯与所有顶级健身应用兼容。规格最多的Moikit Seed智能水杯价格为54美元,容量为500毫安,预计今年2月上市。</span>
						</li>
						<li>
							<b>智能鞋袜</b><br><br>
							<span>我曾经花费60美元买了一双运动鞋,但它只是看起来很酷,并没有什么更多的附加价值。但是,花199美元买一双Altra IQ智能跑鞋就不一样了。通过连接应用程序,Altra IQ智能跑鞋可以测量用户跑步的时间、速度和距离,并分析用户的跑步方式。依靠Altra IQ跑鞋,用户可以提高跑步技巧。</span>
							<div><img src="../images/chanpinxiangqing/chanpinxiangqing_08.png" alt=""></div>
							<span>智能鞋子当然得配上智能袜子。今年的CES上也推出了新型的Sensoria智能袜。新型Sensoria智能袜的一个特别改进是它可以监测你的运动方式的变化。</span>
						</li>
						<li>
							<b>智能帽子</b><br><br>
							<span>我是一个骑行爱好者,我的亲人常常担心我的安全</span>
							<div><img src="../images/chanpinxiangqing/chanpinxiangqing_09.png" alt=""></div>
							<span>        这次CES上展出的一个产品也许能够减轻我的亲人的担忧。这个产品就是Varia Vision智能帽子。
							Varia Vision智能帽子是专为骑行爱好者设计的。它的目镜上能够显示道路信息、骑行速度、距离、
							心率、圈数、方向等。而且，它还有一个附加的功能，可以作为一个后视雷达，能够提醒用户后面的
							交通状况，交通危险往往来自后面。
							</span><p>Varia Vision的价格为399美元，如果需要后视套件，就得多付200美元。</p>
						</li>
						<li>
							<b>智能温度计</b><br><br>
							<span>Withings还推出了一款智能温度计。</span>
							<div><img src="../images/chanpinxiangqing/chanpinxiangqing_10.png" alt=""></div>
							<span>Withings Go不仅仅是一个手表，在不同的场合，它可以变成一个运动追踪器，或者一个睡眠监视器。</span><br><br>
							<span>Withings Go的价格是49美元，有多种颜色可以选择，这正是我想要的。但是，我不仅仅想要知道我
							的运动状态，我还想要知道我身上有多少脂肪需要减掉。在这方面，我就需要用到Skulpt Chisel了。</span><br><br>
							<span>Skulpt Chisel是一款掌上设备，它可以测量你的身体脂肪数量和肌肉质量，以提醒你锻炼的质量。
							Skulpt Chisel刚刚在Indiegogo完成了众筹，并将于今年3月上市。</span>
						</li>
						<li>
							<b>健身追踪器</b><br><br>
							<span>在CES上有许多新型或者更新换代的智能手表，但我认为其中最简单实用的是Withings Go。</span>
							<div><img src="../images/chanpinxiangqing/chanpinxiangqing_12.png" alt=""></div>
							<span>该公司称，用户只需把这种温度计放在额头上，它可以在短短的两秒钟之内收集4000个不同的数据点。</span><br><br>
							<span>这些数据都将被上传到应用程序中。因为这种智能温度计不需要放入耳朵里，所以你可以与人共用。</span>
						</li>
						<li>
							<b>Muse智能头带</b><br><br>
							<div><img src="../images/chanpinxiangqing/chanpinxiangqing_14.png" alt=""></div>
							<span>CES展会还展示了Muse智能头带。Muse智能头带内置了能够测量和追踪用户大脑活动的传感器，然
							后通过一款名叫Calm的移动应用来对用户进行针对性的训练来，以清空大脑中的杂念，使人变得更加
							专注和宁静。Muse智能头带的价格为299美元。（谭思）</span>				
						</li>
					</ul>
				</div>
				<a href="#" class="jiantou" title="返回顶部">
					<span class="shang"></span>
					<span class="xia"></span>
					<span class="shu"></span>		
				</a>
			</div>
		</div>

		<div class="end">
			<div class="ending">
				<div class="ending-wenzi">
					<a href="#">天龙简介</a>
					<span></span>
					<a href="#">解决方案</a>
					<span></span>
					<a href="#">新闻公告</a>
					<span></span>
					<a href="#">视频中心</a>
					<span></span>
					<a href="#">天龙风采</a>
					<span></span>
					<a href="#">招聘</a>
					<span></span>
					<a href="#">下载区</a>
					<span></span>
					<a href="#">联系我们</a>
				</div>
				<div class="wenzi-bottom">
					<span>地址: 香坊区学府东路1号公司电话: 0451-88373338</span>
					<span>CopyRight @ 2015 天龙科技 黑ICP备12002598号 哈公网监备23010002003700号</span>
				</div>
			</div>
		</div>  <!-- 结尾-->
	</div>
</body>
</html>