<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>联系我们</title>
	<link rel="stylesheet" type="text/css" href="../css/lianxiwomen.css" />
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
</head>
<body>

	<div class="container">
		<div class="header">  <!-- 开头开始 -->
			<div class="naving">
				<div class="naving-left">
					<img src="../images/index/img_02.png" alt="">
				</div>
				<div class="naving-right">		
					<ul>
						<li>
							<a href="../index.html">首页</a>
							<a class="r"></a>
							<a class="r1"></a>								
						</li>
						<li>
							<a href="gonsishouye.html">公司介绍</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
						<li>
							<a href="xinwenzhongxing.html">新闻中心</a>
							<a class="r"></a>	
							<a class="r1"></a>							
						</li>
						<li>
							<a href="chanpinzhongxing.html">产品中心</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
						<li>
							<a href="lianxiwomen.html">联系我们</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
					</ul>
				</div>					
			</div>
			<div class="section">
				<div class="banner">
					<img src="../images/lianxiwomen/lianxiwomen_02.png" alt="">
				</div>
				<div class="xinxi">
					<div class="liouyan">发表留言</div>
					<div class="neirong">							
						<ul>
							<li>		
								<span>
									<img src="../images/lianxiwomen/lianxiwomen_03.gif" alt="">
								</span>

								<input type="text" placeholder="姓名">
							</li>
							<li>
								<span>
									<img src="../images/lianxiwomen/lianxiwomen_06.png" alt="">
								</span>
								<input type="text" placeholder="所在区域">
							</li>
							<li>
								<span>
									<img src="../images/lianxiwomen/lianxiwomen_13.gif" alt="">
								</span>
								<input type="text" placeholder="Emali">
							</li>
							<li>
								<span>
									<img src="../images/lianxiwomen/lianxiwomen_11.gif" alt="">
								</span>
								<input type="text" placeholder="联系电话">
							</li>
							<li>
								<span>
									<img src="../images/lianxiwomen/lianxiwomen_18.gif" alt="">
								</span>										
								<textarea class="text" cols="80" rows="5" placeholder="留言"></textarea>
							</li>
							<li>
								<span>
								</span>
								<input type="text" placeholder="请输入验证码">
								<span class="yanzhengma">
									<img src="../images/lianxiwomen/lianxiwomen_03.png" alt="">
								</span>
								<p class="button">提交</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>  <!-- 开头结束 -->

		<div class="content">
			<div class="content-top">
				<div class="lianxifangshi">联系方式</div>
				<div class="lianxifangshi-bottom">
					<ul>
						<li>
							<div class="lianxifangshi-img"><img src="../images/lianxiwomen/lianxiwomen_05.png" alt=""></div>
							<div class="lianxifangshi-xinxi"><p>电话号码 ：</p><p>0451-88373338</p></div>
						</li>
						<li>
							<div class="lianxifangshi-img"><img src="../images/lianxiwomen/lianxiwomen_07.png" alt=""></div>
							<div class="lianxifangshi-xinxi"><p>邮箱地址 ：</p><p>xxxxxxxxxx@.163.com</p></div>
						</li>
						<li>
							<div class="lianxifangshi-img"><img src="../images/lianxiwomen/lianxiwomen_09.png" alt=""></div>
							<div class="lianxifangshi-xinxi"><p>联系地址 ：</p><p>哈尔滨香坊区学府东路1号</p></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="content-bottom">
				<div class="diliweizhi">地理位置</div>
				<div class="diliweizhi-img"><img src="../images/lianxiwomen/lianxiwomen_15.png" alt=""></div>
			</div>
		</div>

		<div class="end">
			<div class="ending">
				<div class="ending-wenzi">
					<a href="#">天龙简介</a>
					<span></span>
					<a href="#">解决方案</a>
					<span></span>
					<a href="#">新闻公告</a>
					<span></span>
					<a href="#">视频中心</a>
					<span></span>
					<a href="#">天龙风采</a>
					<span></span>
					<a href="#">招聘</a>
					<span></span>
					<a href="#">下载区</a>
					<span></span>
					<a href="#">联系我们</a>
				</div>
				<div class="wenzi-bottom">
					<span>地址: 香坊区学府东路1号公司电话: 0451-88373338</span>
					<span>CopyRight @ 2015 天龙科技 黑ICP备12002598号 哈公网监备23010002003700号</span>
				</div>
			</div>		
		</div>  <!-- 结尾-->
	</div>
</body>
</html>