<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>新闻中心</title>
	<link rel="stylesheet" type="text/css" href="../css/xinwenzhongxing.css" />
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<!--[if IE ]>
	<style type="text/css">
	.content>.content-top>.hr{
	margin-top: 11px;
	}
	</style>
	<![endif]-->
</head>
<body>

	<div class="container">
		<div class="header">  <!-- 开头开始 -->
			<div class="naving">
				<div class="naving-left">
						<img src="../images/index/img_02.png" alt="">
				</div>
				<div class="naving-right">			
					<ul>
						<li>
							<a href="../index.html">首页</a>
							<a class="r"></a>
							<a class="r1"></a>								
						</li>
						<li>
							<a href="gonsishouye.html">公司介绍</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
						<li>
							<a href="xinwenzhongxing.html">新闻中心</a>
							<a class="r"></a>			
							<a class="r1"></a>					
						</li>
						<li>
							<a href="chanpinzhongxing.html">产品中心</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
						<li>
							<a href="lianxiwomen.html">联系我们</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
					</ul>
				</div>					
			</div>
			<div class="section">
				<div class="banner">			
					<img src="../images/xinwenzhongxing/xinwenzhongxing_02.png" alt="">

				</div>
				<div class="banner-wenzi">
					天龙科技 实现双赢共同发展
				</div>
			</div>		
		</div>  <!-- 开头结束 -->

		<div class="content">
			<div class="content-top">
				<div class="xinwen">公司新闻</div>
				<div class="huodong">最新活动</div><br/>
				<div class="hr"></div>
			</div>
			<div class="content-in">			
					<ul>
						<li><a href="xinwenxiangqing.html">>>2015-12-24新开普&郑州升达学院签订校企合作战略协议
						<span>2015/12/16</span></a>
						</li>
						<li><a href="xinwenxiangqing.html">>>2015-12-24新开普&郑州升达学院签订校企合作战略协议
						<span>2015/12/16</span></a>
						</li>
						<li><a href="xinwenxiangqing.html">>>2015-12-24新开普&郑州升达学院签订校企合作战略协议
						<span>2015/12/16</span></a>
						</li>
						<li><a href="xinwenxiangqing.html">>>2015-12-24新开普&郑州升达学院签订校企合作战略协议
						<span>2015/12/16</span></a>
						</li>
						<li><a href="xinwenxiangqing.html">>>2015-12-24新开普&郑州升达学院签订校企合作战略协议
						<span>2015/12/16</span></a>
						</li>
					</ul>						
			</div>				
			<div class="content-bottom">
				<ul>
					<li>首页</li>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>下一页</li>
					<li>尾页</li>
				</ul>
			</div>
		</div>

		<div class="end">
			<div class="ending">
				<div class="ending-wenzi">
					<a href="#">天龙简介</a>
					<span></span>
					<a href="#">解决方案</a>
					<span></span>
					<a href="#">新闻公告</a>
					<span></span>
					<a href="#">视频中心</a>
					<span></span>
					<a href="#">天龙风采</a>
					<span></span>
					<a href="#">招聘</a>
					<span></span>
					<a href="#">下载区</a>
					<span></span>
					<a href="#">联系我们</a>
				</div>
				<div class="wenzi-bottom">
					<span>地址: 香坊区学府东路1号公司电话: 0451-88373338</span>
					<span>CopyRight @ 2015 天龙科技 黑ICP备12002598号 哈公网监备23010002003700号</span>
				</div>
			</div>	
		</div>  <!-- 结尾-->
	</div>
</body>
</html>