<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>新闻详情</title>
	<link rel="stylesheet" type="text/css" href="../css/xinwenxiangqing.css" />
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<!--[if IE ]>
	<style type="text/css">
	.content-box>.jiantou>.xia{
	left: 4px;
	}
	</style>
	<![endif]-->
</head>
<body>
	<div class="container">
		<div class="header">  <!-- 开头开始 -->
			<div class="naving">
				<div class="naving-left">
					<img src="../images/index/img_02.png" alt="">
				</div>
				<div class="naving-right">	
					<ul>
						<li>
							<a href="../index.html">首页</a>
							<a class="r"></a>
							<a class="r1"></a>								
						</li>
						<li>
							<a href="gonsishouye.html">公司介绍</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
						<li>
							<a href="xinwenzhongxing.html">新闻中心</a>
							<a class="r"></a>	
							<a class="r1"></a>							
						</li>
						<li>
							<a href="chanpinzhongxing.html">产品中心</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
						<li>
							<a href="lianxiwomen.html">联系我们</a>
							<a class="r"></a>
							<a class="r1"></a>
						</li>
					</ul>
				</div>					
			</div>
			<div class="section">
				<div class="banner">		
					<img src="../images/xinwenxiangqing/xinwenxiangqing_02.png" alt="">
				</div>
				<div class="banner-wenzi">
					天龙科技 实现双赢共同发展
				</div>
			</div>		
		</div>  <!-- 开头结束 -->

		<div class="content">
			<div class="content-box">
				<span class="content-top"><a href="xinwenzhongxing.html">新闻中心></a><span>新闻详情</span></span>
				<div class="content-bottom">
					<ul>
						<li>
							<p>新开普＆郑州升达学院签订校企合作战略协议 </p>
							<span>来源：英锐芯</span><span>更新时间：2015-12-24</span>
						</li>
						<li>
							<img src="../images/xinwenxiangqing/xinwenxiangqing_05.gif" alt="">
							<span>2015年12月23日16:00，新开普电子股份有限公司与郑州升达经贸管理学院“人才服务校企合作战略协议
							“签约授牌仪式在郑州升达经贸管理学院隆重举行。</span>
						</li>
						<li>
							<img src="../images/xinwenxiangqing/xinwenxiangqing_09.gif" alt="">
							<span>新开普电子股份有限公司董事长杨维国，郑州升达经贸管理学院院长崔慕岳教授，执行董事王新奇，副院长段丰乐，以及新开普职业教育事业部总经理马振刚，战略投资部副总经理韩雪等人出席了签约授牌仪式。</span>
						</li>
						<li>
							<img src="../images/xinwenxiangqing/xinwenxiangqing_11.gif" alt="">
							<span>
								杨维国在致辞中表示，新开普作为国内专注于校园信息化的上市企业，通过转化线下高校市场资源和线上“互联网+智慧校园”的成果，目前正着力于“开启人才服务的新模式”，通过郑州升达经贸管理学院的深度合作，将为更多学生搭建就业直通车，为更多企业输送更多的优秀IT人才，也会更好的实现公司发展IT人才教育的战略。双方未来将围绕IT人才培养领域，在专业建设、实习实训、学生培养、教师实践，工程师交叉任职等多层面，进行深度合作与资源整合，实现优势互补、共同发展。
							</span>
						</li>
						<li>
							<img src="../images/xinwenxiangqing/xinwenxiangqing_13.gif" alt="">
							<span>
							崔慕岳指出，升达学院坚持把人才培养质量作为学院发展的生命线，此次校企合作，是升达学院推进转型发展、凝练办学特色、全面提高人才培养质量的又一重要举措，既体现了双方真诚合作、共同发展的良好愿望，又体现了我们服务社会，服务学生的共同期盼。希望我们紧密合作、优势互补、资源共享、互惠互利、共同发展，为社会培育更多的优秀人才！
							</span>
						</li>
						<li>
							<span>上一条：新开普与招商银行签署全面战略合作协议</span>
							<span>下一条：海南公交系统进入刷手机时代，新开普助力海南城市化进程</span>
						</li>
					</ul>
				</div>
				<a href="#" class="jiantou" title="返回顶部">
					<img class="imga" src="../images/xinwenxiangqing/xinwenxiangqing_14.png" alt="">
					<span class="shang"></span>
					<span class="xia"></span>
					<span class="shu"></span>		
				</a>
			</div>
		</div>

		<div class="end">
			<div class="ending">
				<div class="ending-wenzi">
					<a href="#">天龙简介</a>
					<span></span>
					<a href="#">解决方案</a>
					<span></span>
					<a href="#">新闻公告</a>
					<span></span>
					<a href="#">视频中心</a>
					<span></span>
					<a href="#">天龙风采</a>
					<span></span>
					<a href="#">招聘</a>
					<span></span>
					<a href="#">下载区</a>
					<span></span>
					<a href="#">联系我们</a>
				</div>
				<div class="wenzi-bottom">
					<span>地址: 香坊区学府东路1号公司电话: 0451-88373338</span>
					<span>CopyRight @ 2015 天龙科技 黑ICP备12002598号 哈公网监备23010002003700号</span>
				</div>
			</div>
		</div>  <!-- 结尾-->
	</div>
</body>
</html>